
.avatar-form-label {
    display: none;
}

.avatar-form-input {
    width: 100vw;
    height: 8vh;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    margin-top: 0;

}

.avatar-form-submit-button{
    margin-top: var(--spacer-sm);
}


form {
    margin-bottom: 0;
}

.no-outline:focus {
    outline: none;
}

.account-avatar-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-wrapper{
    width: inherit;
    display: flex;
}

.upload-avatar-button{
    padding: var(--spacer-sm);
}

