form{
    display: flex;
    width: inherit;
    padding: var(--spacer-sm);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

input{
    width: 100%;
    height: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 750px;
}

form div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacer-sm) var(--spacer-sm);
    width: inherit;
}

input, textarea{
    width: 100%;
    padding: var(--spacer-tiny);
    font-size: var(--font-size-sm);
    outline: 0;
}
label{
    min-width: 120px;
}
input:focus, textarea:focus{
    border: 2px solid var(--colors-accent);
}


.comment-input:focus{
    border: 2px solid var(--colors-accent);
}

.post-input-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-project-wrapper{
    width: inherit;

}

.image-info{
    width: inherit;
    flex-direction: column;
    padding-bottom: 0;
}