.account-login-link {
    margin: 6vh 0 6vh 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--spacer-sm);
}

input, textarea, select {
    padding: 5px;
    margin-top: var(--spacer-sm);
    margin-bottom: var(--spacer-sm);
    display: flex;
    flex-direction: column;
    width: 95%;
    font-size: var(--fontsize-sm);
}

label {
    font-size: 2.2vh;
}

.form-wrapper {
    text-align: right;
}

.form-button {
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin-top: 2vh;
    font-size: 2.2vh;
    align-items: center;
    justify-content: center;  
}

/* .preview-photo {
    width: 85vw;
} */



@media only screen and (min-width: 800px) {
    input, textarea, select, .form-button, .preview-photo {
        width: 70vw;
    }
    .project-form{
        flex-direction: row;
    }

}