form{
    display: flex;
    width: inherit;
    padding: var(--spacer-sm);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

input{
    width: 100%;
    height: 2rem;
}

form{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 750px;
}

form div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacer-sm) var(--spacer-sm);
    width: inherit;
}

input, textarea{
    width: 100%;
    padding: var(--spacer-tiny);
    font-size: var(--font-size-sm);
    outline: 0;
}
label{
    min-width: 100px;
}
input:focus, textarea:focus{
    border: 2px solid var(--colors-accent);
}


.comment-input:focus{
    border: 2px solid var(--colors-accent);
}

.post-input-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-project-wrapper{
    width: inherit;

}

.image-info{
    width: inherit;
    flex-direction: column;
    padding-bottom: 0;
}

.project-upload-wrapper{
    flex-direction: column;
    padding: 0 0 var(--spacer-sm) 0;
    height: 100%;
}

.upload-button-wrapper{
    width: 75px;
    min-width: 75px;
    height: 75px;
}

.update-avatar-link{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-icon{
    height:100%;
}