*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    color: var(--colors-black);
    font-family: var(--font);
    background-color: var(--colors-white);
    display: flex;
    justify-content: center;
}

section{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
button{
    font-size: var(--font-size-sm);
    font-family: var(--font);
}

.main-logo{
    max-width: 100vw;
    max-height: 70vh;
}

.circular-landscape {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid;
    border-color: var(--colors-accent);
} 
  
/* .circular-landscape img {
    width: 100%;
    height: auto;
} */

h1{
    font-size: 1.7rem;
    color: var(--colors-accent);
}

a{
    text-decoration: none;
    color: var(--colors-accent);
}

.error-message {
    color: var(--colors-red);
    width: 85vw;
    text-align: center;
}

.login-route, .registration-route {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button, .button {
    cursor: pointer;
    outline: 0;
    height: 40px;
    width: 150px;
    background-color: var(--colors-light);
    color: var(--colors-accent);
    border: 1.5px solid var(--colors-accent);
    border-radius: 3px;
    margin-bottom: var(--spacer-sm);
}

button:focus {
    background-color: var(--colors-accent);
    color: var(--colors-white);
    border: 1.5px solid var(--colors-accent);
   
}

.login {
    margin-top: var(--spacer-sm);
}

@media all and (min-width: 500px){
    .circular-landscape {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (min-width: 800px) {
    .error-message {
        width: 70vw;
    }

    .circular-landscape {
        width: 300px;
        height: 300px;
    }
}