
.avatar-upload-wrapper,
.avatar-uploader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
}



.upload-selector-button {
    width: 75px;
    cursor: pointer;
}

.upload-default-avatar {
    width: 150px;
}

.original-input {
    display: none
}
