
.avatar-upload-wrapper,
.avatar-uploader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
}



.upload-selector-button {
    width: 75px;
    cursor: pointer;
}


.original-input {
    display: none
}

.post-image-wrapper{
    width: inherit;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    padding: 0;
}

.post-image-preview{
    height: 100%;
    max-height: 300px;
    padding: 0;
    width: auto;
    overflow: hidden;
}
