.hex-wrapper{
    display: flex;
    width: inherit;
    align-items: space-between;
}

.p-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gallery-page-wrapper{
    display: flex;
    width: inherit;
    height: 100%;
    flex-direction: column;
    padding: var(--spacer-sm);
}

.profile-info-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacer-sm);
}

.profile-top-wrapper{
    display: flex;
    width: 100%; 
    flex-direction: column;
}

/* .p-filling {
    size: 40%;
} */

.p-item-top {
    padding: 1px;
    font-weight: bold;
}
.p-item-mid {
    padding: 1px;
    text-decoration: underline;
}
.p-item-bot {
    padding: 1px;
}

.profile-wrapper {
    padding: var(--spacer-sm);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.gallery, .Feed {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   max-width: 750px;
}

.img-preview-wrapper{
    width: 33vw;
    height: 33vw;
    margin: 2.5vw;
    /* max-width: 40vw;
    min-width: 30vw; */
    display: flex;
    align-items: center;
    border: 2px solid var(--colors-accent-light);
}

/* .img-container {
    flex-basis: 33%;
    height: 30vw;
} */

.gallery-img {
    width: 100%;
    height: 100%;
   
    /* margin: 2.5px; */
}


ul {
    list-style: none;
}
/* 
.returns {
    border: steelblue;
    border-width: 500px;
    height: 88vh;
    font-size: 500%;
} */

@media all and (min-width: 500px) {
    /* .gallery {
        margin-left: 2rem;
    } */

    /* .img-container {
        flex-basis: 32%;
        height: 25vh;
        margin: 2.5px;
    } */
    .gallery-page-wrapper{
        width: 80%;
    }
    
}

@media all and (min-width: 1000px) {
    /* .gallery {
        margin-left: 2.5rem;
    } */

    .img-container {
        flex-basis: 32%;
        height: 45vh;
        margin: 5px;
    }
    .gallery-page-wrapper{
        width: 65%;
    }
}