.hex-wrapper{
    display: flex;
    width: inherit;
    align-items: space-between;
}

.p-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gallery-page-wrapper{
    display: flex;
    width: inherit;
    height: 100%;
    flex-direction: column;
    padding: var(--spacer-sm);
}

.profile-info-wrapper{
    display: flex;
    width: inherit;
    max-width: 750px;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacer-sm);
    flex-direction: column;
}

.p-item-top {
    padding: 1px;
    font-weight: bold;
}
.p-item-mid {
    padding: 1px;
    text-decoration: underline;
}
.p-item-bot {
    padding: 1px;
}

.profile-wrapper {
    padding: var(--spacer-sm);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.gallery, .Feed {
    width: inherit;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   max-width: 750px;
}

.view-wrapper{
    width: 33vw;
    height: 33vw;
    margin: 2.5vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 2px solid var(--colors-accent-light);
}

/* .img-container {
    flex-basis: 33%;
    height: 30vw;
} */

.gallery-img {
    width: 100%;
   
    /* margin: 2.5px; */
}
.project-wrapper{
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: var(--spacer-lg);
}
.profile-container button{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
}
ul {
    list-style: none;
}

.profile-container{
    width: inherit;
    display: flex;
    align-items: center;
}

.profile-info-count{
    margin-top: var(--spacer-sm);
    justify-content: center;
}
.profile-info-user{
    justify-content: space-between;
    padding: var(--spacer-sm);
}
@media all and (min-width: 500px) {

    .profile-info-wrapper{
        flex-direction: row;
    }
    .profile-info-user{
        flex-direction: column;
        align-items: flex-start;
        padding-right: var(--spacer-sm);
        justify-content: center;
    }
    .profile-info-count{
        margin-top: 0;
    }


}
/* 
@media all and (min-width: 1000px) {
   

    .img-container {
        flex-basis: 32%;
        height: 45vh;
        margin: 5px;
    }
} */