.hex-wrapper{
    display: flex;
    width: inherit;
    align-items: space-between;
}

.p-wrapper {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
}

.p-filling {
    size: 40%;
}

.p-item-top {
    margin: 1px;
    font-weight: bold;
}
.p-item-mid {
    margin: 1px;
    text-decoration: underline;
}
.p-item-bot {
    margin: 1px;
}

.profile-wrapper {
    padding: var(--spacer-sm);
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: stretch;
}

.project-wrapper{
    height: 100%;
    width: inherit;
    flex: 1;
   
}

.img-preview-wrapper{
    width: 100%;
    height: 200px;
    max-width: 40vw;
    min-width: 30vw;
    display: flex;
    align-items: center;
    border: 2px solid var(--colors-accent-light);
}

/* .img-container {
    flex-basis: 33%;
    height: 30vw;
} */

.gallery-img {
    width: 100%;
    height: 200px;
    border: 2px solid var(--colors-accent-light);
    /* margin: 2.5px; */
}

ul {
    list-style: none;
}

.returns {
    border: steelblue;
    border-width: 500px;
    height: 88vh;
    font-size: 500%;
}

@media all and (min-width: 500px) {
    .gallery {
        margin-left: 2rem;
    }

    .img-container {
        flex-basis: 32%;
        height: 25vh;
        margin: 2.5px;
    }
}

@media all and (min-width: 1000px) {
    .gallery {
        margin-left: 2.5rem;
    }

    .img-container {
        flex-basis: 32%;
        height: 45vh;
        margin: 5px;
    }
}