

.post-detail-wrapper{
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}



.modal-scroll-wrapper{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 750px;
}

.project-image-wrapper{
    width: 100%;
    padding: 0 var(--spacer-sm);
    height: 40vw;
}

.project-image-wrapper-flex{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}



.comment-body{
    padding-left: var(--spacer-sm);
}

.comment-form{
    width: inherit;
    padding: var(--spacer-sm);
    
}


.comment-form textarea {
    text-align: left;
    width: 100%;
    border: none;
    background-color: #e8effe;
}

.comment-form button{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: var(--spacer-sm);
    font-size: 2.2vh;
    align-items: center;
    justify-content: center; 
}

.comment-form textarea{
    margin-top: 5px;
    width: 100%;
    height: 10vh;
}

.post-user-wrapper{
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacer-sm);
}

.user-detail-wrapper{
    display: flex;
   flex-direction: column;
   justify-content: center;
}

.post-info-wrapper{
    width: inherit;
}

.comment-date-created {
    font-size: 0.8rem;
}

.comment-data-wrapper {
    max-width: 650px;
    padding: var(--spacer-sm);
    font-size: 0.8rem;
    width: 100%;
}

.post-wrapper{
   position: fixed;
   top: 50%;
   left: 50%;
   width: 100%;
   height: 100%;
   transform: translate(-50%, -50%);
   background-color: white;
   overflow-y: scroll;
}


.post-wrapper-flex{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal{
    width: 100vw; 
    height: inherit;
}

.project-link-wrapper{
    width: inherit;
}

.link-wrapper{
    flex: 1;
    width: 100%;
    text-align: center;
}
.temp-user-avatar{
    font-size: 35px;
    padding: var(--spacer-tiny);
    color: var(--colors-accent);
}

.avatar-date-comment-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
}

.header-and-exit{
    display: flex;
    height: 100px;
    width: inherit;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacer-lg) var(--spacer-lg) 0 var(--spacer-lg);
}
.header-and-exit >*{
    padding: var(--spacer-sm);
}

.project-content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.project-image{
    max-width: calc(100% - calc(2 * var(--spacer-sm)));
    height: 100%;
    max-height: calc(40vh - calc(2 * var(--spacer-sm)));
    min-height: 100px;
  
}

.post-title{
    color: var(--colors-accent);
    font-family: var(--font);
}

p{
    font-family: var(--font);
}

.hide-comments-wrapper,
.show-comments-wrapper,
.no-comments-wrapper{
    display: flex;
    width: inherit;
    justify-content: space-evenly;
    padding: var(--spacer-sm);
}

.hide-comments{
    transform: rotate(180deg)
}

.desc-wrapper{
    align-self: center;
}

.comment-profile-pic{
    height: 30%;
}
.comment-wrapper{
    width: inherit;
    display: flex;
    max-width: 750px;
    height: 100px;
    justify-content: space-between;
}

.links-rendered-wrapper{
    display: flex;
    justify-content: space-evenly;
}

