
/* section{
    width: inherit;
} */
/* 
.post-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 650px;
    align-items: center;
    width: 90vw;
} */

.post-detail-wrapper{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.project-content-wrapper p {
    margin: 0 8%;
}

.project-image-wrapper{
    width: 100%;
    padding: 0 var(--spacer-sm);
    height: 40vw;
}

.project-image-wrapper-flex{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-top: var(--colors-accent);
    border-bottom: var(--colors-accent);
    border-width: 1px;
    border-style: groove;
}

/* .post-wrapper a{
    display: block;
} */

.comment-body{
    padding-left: var(--spacer-sm);
}

.comment-form{
    width: inherit;
    padding: var(--spacer-sm);
    
}

.comment-form fieldset {
    width: 90%;
    background-color: #e8effe;
    align-items: center;
    text-align: left;
    margin-bottom: 2vh;
    border: 1.5px solid var(--colors-accent);
    padding-left: 2%;
    padding-right: 2%;
}

.comment-form fieldset legend {
    text-align: right;
    width: 90%;
}

.comment-form textarea {
    text-align: left;
    width: 100%;
    border: none;
    background-color: #e8effe;
}

.comment-form button{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: var(--spacer-sm);
    font-size: 2.2vh;
    align-items: center;
    justify-content: center; 
}

.comment-form textarea{
    margin-top: 5px;
    width: 100%;
    height: 10vh;
}

.post-user-wrapper{
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacer-sm);
}

.user-detail-wrapper{
    display: flex;
   flex-direction: column;
   justify-content: center;
}

.post-info-wrapper{
    width: inherit;
}

.comment-date-created {
    font-size: 0.8rem;
}

.comment-data-wrapper {
    max-width: 650px;
    padding: var(--spacer-sm);
    font-size: 0.8rem;
    width: 100%;
}

.post-wrapper{
   position: fixed;
   top: 50%;
   left: 50%;
   width: 100%;
   height: 100%;
   transform: translate(-50%, -50%);
   background-color: white;
   overflow-y: scroll;
}

.modal-scroll-wrapper{
    
}

.post-wrapper-flex{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.temp-user-avatar{
    font-size: 35px;
    padding: var(--spacer-tiny);
    color: var(--colors-accent);
}

.avatar-date-comment-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
}

.header-and-exit{
    display: flex;
    height: 100px;
    width: inherit;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacer-lg) var(--spacer-lg) 0 var(--spacer-lg);
}
.header-and-exit >*{
    padding: var(--spacer-sm);
}

.project-content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

/* .project-content-wrapper{
    position: relative;
    top: 40vw;
} */
/* .post-title{
    margin-top: 55%;
} */
.project-image{
    max-width: calc(100% - calc(2 * var(--spacer-sm)));
    height: 100%;
    max-height: calc(40vh - calc(2 * var(--spacer-sm)));
    min-height: 100px;
  
}

.hide-comments-wrapper,
.show-comments-wrapper{
    display: flex;
    width: inherit;
    justify-content: space-evenly;
}

.desc-wrapper{
    align-self: center;
}

.comment-profile-pic{
    height: 30%;
}
.comment-wrapper{
    width: inherit;
    display: flex;
    max-width: 750px;
    height: 100%;
    justify-content: space-between;
}

.links-rendered-wrapper{
    display: flex;
    justify-content: space-evenly;
}

@media all and (min-width: 650px){
    .post-wrapper{
        padding: var(--spacer-sm);
    }
/* 
    .post-detail-wrapper{
        padding: var(--spacer-sm) 0;
    } */
}

